:root {
    --main-text-color: #000;
    --main-bg-color : #fff;
    --main-accent-color: #d7d7d7;
    --main-box-shadow-color: rgba(0, 0, 0, 0.25);
    --main-hover-color: #f1f1f1;
    --main-change-color: #353637ff;
    --main-card-color: #d9d9d9;
}