@use '../utils/variables';
.footer-container {
  display: flex;
  margin: 0 auto;
}
.footer-logo {
  width: 165px;
  height: 70px;
}
// .footer-list{}
// .footer-item{}
// .footer-link{}
// .subscription{}
// .subscription-label{}
// .subscription-button{}
// .subscription-text{}
