@use '../utils/variables';
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
  width: 165px;
  height: 70px;
}
// .footer-list{}
// .footer-item{}
.footer-link {
  font-size: 12px;
  line-height: 170%;
}
// .subscription{}
.subscription-label > input {
  padding: 10px 80px 10px 10px;
  align-items: flex-start;
  border-radius: 20px;
  background: var(--main-accent-color);
  border: none;
}
.subscription-button {
  display: inline-flex;
  padding: 10px;
  border-radius: 20px;
  background: var(--main-text-color);
  color: var(--main-bg-color);
  border: none;
}
.subscription-text {
  font-size: 6px;
  margin-top: 18px;
}
// модалка....
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  width: 463px;
  height: 245px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
}

.modal-bg {
  position: absolute;
  inset: 0;
  width: 378px;
  height: 106px;
  object-fit: cover;
  z-index: 1;
  top: 69px;
  left: 43px;
}

.modal-content {
  position: relative;
  z-index: 2;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: black;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  background: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

.hidden {
  display: none;
}
// тестик на работу гита
