@use '../utils/variables';
// {} [] () '' "" ``

.calc-time-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  top: 22px;
}

.calc-time-form {
  display: flex;
  border-radius: 999px;
  overflow: hidden;
  background-color: #ddd;
  position: relative;
  left: 312px;
}

.calc-time-input {
  border: none;
  background-color: #ddd;
  font-size: 16px;
  outline: none;
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  width: 150px;
  height: 35px;
}

.calc-time-input::placeholder {
    color: #999; 
    font-size: 12px;
}

.calc-time-button {
  width: 35px;
  height: 35px;
  background-color: #000;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

.calc-time-button img {
  filter: invert(1);
}

.calc-time-dots {
  width: 100px;
  height: 2px;
  flex-grow: 1;
  text-align: center;
  position: relative;
  left: 33px;
}
// .calc-time-form {}
// .time-calc__input {}
// .time-calc__btn {}
.time-calc__output-text{
  position: relative;
  right: 262px;
}