<div class="card">
    <h3 class="card__title">Введіть 3 числа</h3>
    <div class="max-number__box">
        <input type="text" class="max-number__input" placeholder="Введіть число" data-maxNum-input />
        <input type="text" class="max-number__input" placeholder="Введіть число" data-maxNum-input />
        <input type="text" class="max-number__input" placeholder="Введіть число" data-maxNum-input />
    </div>
    <p class="max-number__result" data-maxNum-result>Найбільше число буде виведено замість тексту</p>
</div>