<div class="card">
        <h2 class="card__title">
            Калькулятор
        </h2>
        <div class="calculator-box">
            <input type="text"
             id="calculator-input"
             class="calculator-input"
             placeholder="Введіть число"/>
            <ul class="calculator-list">
                <li class="calculator-list-item">
                    <button class="calculator-button-item">
                        +
                    </button>
                </li>
                <li class="calculator-list-item">
                    <button class="calculator-button-item">
                        *
                    </button>
                </li>
                <li class="calculator-list-item">
                    <button class="calculator-button-item">
                        -
                    </button>
                </li>
                <li class="calculator-list-item">
                    <button class="calculator-button-item">
                        /
                    </button>
                </li>
            </ul>
            <input type="text"
            id="calculator-input"
            class="calculator-input"
            placeholder="Введіть число">
            <button class="calculator-button-item">
                =
            </button>
            <p class="calculator-result-text">
                Результат
            </p>
        </div>
    </div>