<div class="card">
    <div class="dinosaur">
        <h3 class="card__title">Google динозавр</h3>
        <canvas class="dinosaur__canvas" width="600px" height="200px" data-dinosaur-canvas></canvas>
        <div class="dinosaur__box" data-dinosaur-box>
            <p class="dinosaur-box__title">Гру завершено!</p>
            <button class="dinosaur-again__btn" data-dinosaur-again>Спробувати ще</button>
        </div>
        <button class="dinosaur-start__btn" data-dinosaur-start>Почати</button>
        <img style="display: none" src="./img/dino/dino.png" data-dino />
        <img style="display: none" src="./img/dino/cactus1.png" data-cactus1 />
        <img style="display: none" src="./img/dino/cactus2.png" data-cactus2 />
        <img style="display: none" src="./img/dino/cactus3.png" data-cactus3 />
    </div>
</div>