<footer class="footer">
  <div class="container footer-container">
    <img src="./img/coding-magic.svg" alt="logo" class="footer-logo" />
    <ul class="footer-list">
      <li class="footer-item">
        <a href="" class="footer-link">Тел: +38 (123) 456 78 90</a>
      </li>
      <li class="footer-item">
        <a href="" class="footer-link">E-Mail: codingmagic@gmail.com</a>
      </li>
      <li class="footer-item">
        <a href="" class="footer-link">Facebook: CodingMagic</a>
      </li>
      <li class="footer-item">
        <a href="" class="footer-link">Twitter: CodingMagic</a>
      </li>
      <li class="footer-item">
        <a href="" class="footer-link">Instagram: CodingMagic</a>
      </li>
    </ul>
    <div class="subscription">
      <form method="post" data-modal-form>
        <label for="name" class="subscription-label">
          <input
            class="input"
            type="text"
            name="name"
            id="name"
            placeholder="Ваша ел. адреса..."
          />
        </label>
        <button type="submit" class="subscription-button">Підписатись</button>
      </form>
      <p class="subscription-text">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </div>
  </div>
</footer>
