    <header class="header">
        <div class="container header-flex">
            <div class="header-container">
                <a class="header-logotype-link" href="./index.html">
                    <img id="coding-light" class="header-logotype-photo" src="./img/coding-magic.svg" alt="icon-coding-magic">
                </a>
                <nav class="header-navigation">
                    <ul class="header-navigation-list">
                        <li class="header-navigation-item">
                            <a class="header-navigation-link" href="/">
                                Інтерактив
                                <img id="arrow-icon" class="header-arrow-down" src="./img/arrow-down.svg" alt="arrow-down">
                                </a>
                                <ul class="header-navigation-arrow-down">
                                    <li class="header-navigation-arrow-down-item">
                                        <a class="header-navigation-arrow-down-button" href="/">
                                            Числовий
                                        </a>
                                    </li>
                                     <li class="header-navigation-arrow-down-item">
                                        <a class="header-navigation-arrow-down-button" href="/">
                                            Ігровий
                                        </a>
                                    </li>
                                    <li class="header-navigation-arrow-down-item">
                                        <a class="header-navigation-arrow-down-button" href="/">
                                            Ознайомчий
                                        </a>
                                    </li>
                                </ul>
                        </li>
                        <li class="header-navigation-item">
                            <a class="header-navigation-link" href="/">
                                Наша команда
                            </a>
                        </li>
                        <li class="header-navigation-item">
                            <a class="header-navigation-link" href="/">
                                Контакти
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-thematic">
                <button class="header-thematic-button" id="toggle-theme">
                    <img class="header-thematic-image" src="./img/themeLight.png" alt="thematic-image">
                </button>
                <p class="header-text">Вітаємо, User!</p>
            </div>
    </header>