 <div class="card">
        <h1 class="card-title">Камінь - ножиці - папір</h1>
        <div class="choices-section">
            <div class="choice-item rock" id="rock-choice" data-choice="rock">
                <img src="./img/rock.svg" alt="Камінь">
            </div>
            <div class="choice-item scissors" id="scissors-choice" data-choice="scissors">
                <img src="./img/scissors.svg" alt="Ножиці">
            </div>
            <div class="choice-item paper" id="paper-choice" data-choice="paper">
                <img src="./img/paper.svg" alt="Папір">
            </div>
        </div>
        <div class="score-section">
            <p class="score-label">Рахунок:</p>
            <p class="score-computer">Комп'ютер - <span id="computer-score">0</span></p>
            <p class="score-player">Ви - <span id="player-score">0</span></p>
        </div>
        <div class="game-message">
            <p class="message-text" id="game-message-text">Оберіть варіант для початку гри!</p>
        </div>
        <div class="action-section">
            <button class="computer-choice-button" id="reset-button">Варіант комп'ютера</button>
        </div>
    </div>