 <div class="scienist-container">
        <h1 class="main-title">Обери вченого/ux</h1>
        <div class="scientists-grid" id="scientistsGrid">
            </div>
        <div class="controls-grid">
            <button class="control-button" id="nineteenthCenturyScientists">Які вчені народилися в 19 ст.</button>
            <button class="control-button" id="albertEinsteinBorn">Знайти рік народження Albert Einstein</button>
            <button class="control-button" id="sortByName">Відсортувати вчених за алфавітом</button>
            <button class="control-button" id="findScientistsByC">Знайти вчених, прізвища яких починаються на літеру "C"</button>
            <button class="control-button" id="sortByLifespan">Відсортувати вчених за кількістю прожитих років</button>
            <button class="control-button" id="deleteScientistsA">Видалити всіх вчених, ім'я яких починається на "А"</button>
            <button class="control-button" id="findYoungestAndOldest">Знайти вченого, який народився найпізніше</button>
            <button class="control-button" id="findLongestShortestLifespan">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
            <button class="control-button" id="firstLettersMatch">1. Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
        </div>
    </div>