<div class="card team-slider">
  <h2 class="main-title">Наша команда</h2>

  <div class="team-slider__wrapper">
    <button class="team-slider__arrow team-slider__arrow--left" disabled>
      <img
        src="./img/team-slider/team-slider-left.svg"
        alt="left"
        class="team-slider_svg"
      />
    </button>

    <div class="team-slider__content">
      <div class="team-slider__slide active">
        <div class="team-slider__image">
          <img
            src="./img/team-slider/vera.jpg"
            alt="Vera <3"
            class="team-slider__icon"
          />
        </div>
        <p class="card__title">Вера (Веранда)</p>
        <p class="team-slider__info">
          Зробила футер, допомагала з іншими секціями, та пила валерьянку
        </p>
      </div>
      <div class="team-slider__slide active">
        <div class="team-slider__image">
          <img
            src="./img/team-slider/roma-2.jpg"
            alt="Roma"
            class="team-slider__icon"
          />
        </div>
        <p class="card__title">Рома (Скрамчик)</p>
        <p class="team-slider__info">
          Тихо працював, зробив вгадай число і перевір рік
        </p>
      </div>
      <div class="team-slider__slide active">
        <div class="team-slider__image">
          <img
            src="./img/team-slider/roma.jpg"
            alt="Roma"
            class="team-slider__icon"
          />
        </div>
        <p class="card__title">Ромчик</p>
        <p class="team-slider__info">Зробив 3 числа і динозаврика</p>
      </div>
      <div class="team-slider__slide active">
        <div class="team-slider__image">
          <img
            src="./img/team-slider/lisa.jpg"
            alt="Lisa <3"
            class="team-slider__icon"
          />
        </div>
        <p class="card__title">Ліза</p>
        <p class="team-slider__info">
          Зробила хедер, калькулятор, і взагалі молодець
        </p>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__image">
          <img
            src="./img/team-slider/denis.jpg"
            alt="Denis"
            class="team-slider__icon"
          />
        </div>
        <p class="card__title">Денис</p>
        <p class="team-slider__info">
          Зробив калькулятор часу і секцію з командою
        </p>
      </div>
    </div>

    <button class="team-slider__arrow team-slider__arrow--right">
      <img
        src="./img/team-slider/team-slider-right.svg"
        alt="right"
        class="team-slider_svg"
      />
    </button>
  </div>

  <div class="team-slider__pagination">
    <span class="team-slider__dot active"></span>
    <span class="team-slider__dot"></span>
    <span class="team-slider__dot"></span>
    <span class="team-slider__dot"></span>
    <span class="team-slider__dot"></span>
  </div>
</div>
