<div class="card">
  <h2 class="card__title">Калькулятор часу</h2>
  <div class="calc-time-wraper">
    <div class="calc-time-form">
      <input type="text" id="timeInput" placeholder="Введіть число" class="calc-time-input" />
      <button type="button" class="calc-time-button">
        <img src="./img/team-slider/search.svg" alt="search" width="35" height="35" />
      </button>
    </div>
    <p class="calc-time-result">Результат з’явиться тут</p>
      <input
        type="text"
        id="timeInput"
        placeholder="Введіть число"
        class="time-calc__input"
      />
      <button type="button" class="time-calc__btn">
        <circle cx="6.52174" cy="6.52174" r="5.52174" stroke-width="2" />
        <svg width="35" height="35" viewBox="0 0 16 16">
          <path
            d="M14.2929 15.7071C14.6834 16.0976 15.3166 16.0976 15.7071 15.7071C16.0976 15.3166 16.0976 14.6834 15.7071 14.2929L14.2929 15.7071ZM11.468 10.0538L10.7609 9.34665L9.34666 10.7609L10.0538 11.468L11.468 10.0538ZM15.7071 14.2929L11.468 10.0538L10.0538 11.468L14.2929 15.7071L15.7071 14.2929Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
    <hr class="time__hr" />
    <p class="time-calc__output-text">3 дн. 15:45:01</p>
  </div>
</div>