<div class="card">
  <h2 class="card__title">Калькулятор часу</h2>
  <div class="calc-time-row">
    <div class="calc-time-form">
      <input id="timeInput" type="text" class="calc-time-input" placeholder="Введіть число" />
      <button id="calculateButton" class="check-btn">
        <span class="check-span">
          <img src="./img/search.svg" alt="search">
        </span>
      </button>
    </div>
    <div class="calc-time-dots">------------------------</div>
    <p id="timeOutput" class="time-calc__output-text">3 дн. 15:45:01</p>
  </div>
</div>